<div [ngSwitch]="button_name">
  <div *ngSwitchCase="true">
    <button class="btn btn-success  btn-lg btn-block" (click)="show()" >Show Images</button>
  </div>
  <div *ngSwitchCase="false">
    <button class="btn btn-success  btn-lg btn-block" (click)="show()" >Hide Images</button>
  </div>
</div>
<ng-container *ngIf="!button_name" >
  <div  *ngFor=" let item of images,index as i" >
    <img  (click)="select(i)" src={{item.name}} alt={{item.name}}  class="rounded mx-auto d-block" [style.border]="item.border?'1px solid red':''" />
  </div>
  <button (click)="delete()" class="btn btn-danger">Delete Selected</button>  
</ng-container>
